<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console-appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %date{yyyy-MM-dd HH:mm} %class{1}:%L - %highlight{%msg} in thread %threadId %xEx{short}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console-appender" />
        </Root>
    </Loggers>
</Configuration>